* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1%;
  margin: 1%;
}
body {
  font-family: 'Roboto', sans-serif;
}
section {
  padding: 1%;
  width: 100%;
  border-radius: 10px;
}
.header {
  justify-content: center;
  display: flex;
  flex-direction: flex;
}
.header {
  margin-bottom: 1%;
  border: 3px solid #380B61;
  background: #E3CEF6;
  overflow: hidden;
  padding: 20px 10px;
  border-radius:10px;
}
.footer {
  justify-content: center;
  display: flex;
  flex-direction: flex;
}
.footer {
  margin-bottom: 1%;
  border: 3px solid #E3CEF6;
  background: #380B61;
  overflow: hidden;
  padding: 10px 5px;
  border-radius:10px;
}
.footer-title{
  color: #E3CEF6;
  font-size: 18px;
}
.title{
  color: #380B61;
  font-size: 28px;
}
.nav-bar  {
  margin-bottom: 0%;
  border: 3px solid #380B61;
  background: #380B61;
  overflow: hidden;
  padding: 5px 5px;
  border-radius:10px;
}
.footer-text{
  color: #E3CEF6;
  font-size: 10px;
}
.photos {
  object-fit: contain;
  border-radius: 5px;
}
.nav-bar a {
  color: black;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
  color: white;
}
.nav-bar a:hover {
  background-color: #E3CEF6;
  color: black;
}
.nav-bar{
  float: right;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
 margin: 5px;
 transition: all 2s;
 border-radius: 5px;
}
img:hover {
 transform: scale(1.1);
}
#soy {
  margin-bottom: 1%;
  border: 3px solid #380B61;
  background: #E6E6E6;
}
#moy {
  margin-bottom: 1%;
  border: 3px solid #380B61;
  background: #E6E6E6;
}
#eoy {
  margin-bottom: 1%;
  border: 3px solid #380B61;
  background: #E6E6E6;
}
#chico {
  margin-bottom: 1%;
  border: 3px solid #8A4B08;
  background: #F6E3CE;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .title-top {
    font-size: 18px;
  }
  .nav-bar a {
    color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-size: 13px;
    line-height: 13px;
    border-radius: 5px;
    color: white;
  }
  .nav-bar a:hover {
    background-color: #E3CEF6;
    color: black;
  }
  .nav-bar{
    float: right;
  }
  .header {
    justify-content: center;
    display: flex;
    flex-direction: flex;
  }
  .header {
    margin-bottom: 1%;
    border: 3px solid #380B61;
    background: #E3CEF6;
    overflow: hidden;
    padding: 10px 5px;
    border-radius:10px;
  }
  .title{
    color: #380B61;
    font-size: 18px;
  }
  .footer-title{
    color: #E3CEF6;
    font-size: 15px;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .title-top {
    font-size: 18px;
  }
  .nav-bar a {
    color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-size: 13px;
    line-height: 13px;
    border-radius: 5px;
    color: white;
  }
  .nav-bar a:hover {
    background-color: #E3CEF6;
    color: black;
  }
  .nav-bar{
    float: right;
  }
  .header {
    justify-content: center;
    display: flex;
    flex-direction: flex;
  }
  .header {
    margin-bottom: 1%;
    border: 3px solid #380B61;
    background: #E3CEF6;
    overflow: hidden;
    padding: 10px 5px;
    border-radius:10px;
  }
  .title{
    color: #380B61;
    font-size: 22px;
  }
  .footer-title{
    color: #E3CEF6;
    font-size: 20px;
  }
}
/* iPhone 4 Styles */
@media only screen and (max-width: 327px) {
  p {
    font-size: 10px;
  }
  .title-top {
    font-size: 14px;
  }
  .nav-bar a {
    color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-size: 10px;
    line-height: 10px;
    border-radius: 5px;
    color: white;
  }
  .nav-bar a:hover {
    background-color: #E3CEF6;
    color: black;
  }
  .nav-bar{
    float: right;
  }
  .header {
    justify-content: center;
    display: flex;
    flex-direction: flex;
  }
  .header {
    margin-bottom: 1%;
    border: 3px solid #380B61;
    background: #E3CEF6;
    overflow: hidden;
    padding: 10px 5px;
    border-radius:10px;
  }
  .title{
    color: #380B61;
    font-size: 15px;
  }
  .footer-title{
    color: #E3CEF6;
    font-size: 12px;
  }
}
